#App {
  max-width: 480px;
  margin: 0 auto;
  height: 95vh;
  background: rgb(255, 255, 255);
  border-radius: 55px;
  box-shadow: 8px 8px 10px black;
  transform: translate(0, -50%);
  top: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 7px solid black;
  outline: 5px solid rgb(219, 8, 8);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  #App {
    width: 400px;
  }
}
