$tablet: "max-width: 768px";
$phones: "max-width: 490px";
$large: "min-width: 1200px";

$card_color: rgba(70, 136, 186, 0.881);
$card_shadow: 1px 1px 10px rgb(125, 125, 125);

$title_color: #f1eeee;

$fs: 12px;
$fs_text: 14px;
$text_color: #121212;
