.animated-from-bottom {
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-from-bottom.active {
  opacity: 1;
  transform: translateY(0);
}
