:root {
  --verde: #606c38;
  --bej: #fefae0;
}

@font-face {
  font-family: "Parallone";
  src: url(../parallone/Parallone-Regular.otf);
}

@font-face {
  font-family: "Parallone Thin";
  src: url(../parallone/Parallone-Thin.otf);
}

.mobile_component_container {
  background-color: var(--verde);
}

.mobile-component {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #606c38;
  text-align: center;
  padding-bottom: 50px;
}

.mobile-component p {
  color: var(--bej);
  font-size: 16px;
  font-family: "Poppins";
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 35px;
  width: 80%;
  /* font-weight: 100; */
  line-height: 24px;
}

.mobile-component .button:hover {
  background-color: #4d5933;
}

.buton_solicita_oferta_mobil {
  background-color: #bc6c25;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  color: #fff;
  font-family: "Poppins";
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .mobile-component {
    display: none;
  }
}
